\.Rproj\.user/

.Rhistory
.RData
.Ruserdata
dados/
documentação/*.png
documentação/icones
documentação/SEI
R/exploratorios
python/pylog
R/validador/log.RDS
R/validador/node_modules
pagina.pdf
config_oracle
aplicacao.RDS

.Rproj.user
*.zip
