html,
body {
    height: 100%;
    width: 100%;
}

#navbar {
    background: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    padding: 5px;
    z-index: 10;
    display: inline-flex;
    list-style-type: none;
    overflow: hidden;
    color: white;
    justify-content: space-between;
}

#webname {
    display: grid;
    font-weight: bold;
    color: white;
    font-size: large;
}

#navbar li {
    float: left;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    align-self: center;
}

#nav-left {
    display: flex;
}

#pag {
    font-size: smaller;
    color: #696969;
    text-align: center;
}

.btn-custom1 {
    margin: 0px 5px;
    font-weight: bold;
    font-size: 13px;
}

.form-control {
    width: auto;
}

#norm-btns {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#norm-form {
    padding: 5px 15px 0px 15px;
    vertical-align: middle;
}

#norm-form div {
    align-items: center;
    justify-content: space-around;
}

#norm-form div input.form-control {
    text-align: center;
    padding: 6px 1px 6px 1px;
    height: 25px;
    border-radius: 1px;
}

#norm-form div div.selectize-input {
    text-align: center;
    padding: 6px 1px 6px 1px;
    height: 25px;
    border-radius: 1px;
}

#norm-form div .form-group {
    width: 100%;
    margin: 0;
}

#norm-form div textarea {
    width: inherit;
}

.green {
    background: #3b8d3b;
    color: #fff;
}

.red {
    background: #ba3232;
    color: #fff;
}

#pag-pdf,
#pag-pdf>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pag-pdf input {
    margin-left: 5px;
    padding: 6px 1px 6px 1px;
    height: 25px;
    width: 100px;
    text-align: center;
    border-radius: 1px;
}

@media screen and (max-width: 600px) {
    #info,
    #navbar li {
        float: none;
        padding: 5px;
        text-align: center;
    }
    #webname h6 {
        text-align: center;
    }
    #navbar {
        display: grid;
    }
    #nav-left {
        display: grid;
    }
}

@media screen and (max-width: 1200px) {
    #norm-form div {
        display: inherit;
    }
    #norm-form div input.form-control {
        width: auto;
        max-width: 100px;
    }
}

@media screen and (max-width: 750px) {
    #norm-form div input.form-control {
        max-width: 100%;
    }
    #editor {
        margin-bottom: 10px;
    }
}